
@{
    ViewBag.Title = "Admin";
}
<br/>
<div class="row">
    <iframe width="100%" height="600px" src="https://app.powerbi.com/view?r=eyJrIjoiNTJkZmMyNjUtNzhlMS00YmExLWJmZDgtMDk4MmVjM2ViZWY2IiwidCI6ImU5ZWY5MTBkLWJmNTUtNGE0Mi04NmM1LWFkZjk3Y2ZlNTE3NiIsImMiOjh9" frameborder="0" allowFullScreen="true"></iframe>
</div>
<br/>
<div class="row">
    <div class="col-md-4">
        <a class="btn btn-default btn-block">Call to action</a>
    </div>
    <div class="col-md-4">
        <a class="btn btn-default btn-block">List</a>
    </div>
    <div class="col-md-4">
        <a class="btn btn-default btn-block">Add user</a>
    </div>
</div>