@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    
    <iframe id="PowerBi"src="http://www.bing.com/"></iframe>
    
    <div id="button-placeholder">
        <div class="row button-placeholder">
            <div class="col-md-4">

                <p><a href="#" class="btn btn-lg btn-success">Send notifications</a></p>
            </div>
            <div class="col-md-4">

                <p><a href="#" class="btn btn-lg btn-primary">List Of Hospitals</a></p>
            </div>
            <div class="col-md-4">

                <p><a href="#" class="btn btn-lg btn-warning">Add hospital</a></p>
            </div>
        </div>
    </div>
</div>

